@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --bs-bg1: #ffffff;
  --bs-bg2:#efefef;
  --bs-bg3:#ebebeb;
  
  --bs-tx: #080808;
  --bs-tx1:#343a40;
  --bs-tx2: #292929;
  --bs-tx3: #5c5a5a;
  --bs-bg4:#f0f0f0; 
  --bs-bg5: #e8e7ee;

  --bs-accent: #0dcaf0;
  --bs-accent-tx: #292929;
  --bs-accent-tx1: #ffffff;

  --bs-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.13);
  --bs-box-shadow2: 0px 3px 14px 0px rgba(0, 0, 0, 0.274);
  --bs-box-shadow3: 0 4px 6px 0 rgba(0,0,0,.12);

  --bs-box-bg: #fff;

  --bs-glass1: rgb(255, 255, 255);
  --bs-bd1: rgba(105, 105, 105, 0.29);

  --bs-btn1: #ffd814;
  --bs-btn1-h: #e2bf11;
  --bs-btn2: #ffb71c;
  --bs-btn2-h: #f8a916;

  
  --bs-success: #198754;
  
  --bs-op1 : 1;
  
  --bs-blue: #0d6efd;
  --bs-blue2: #0045ad;
  
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

[data-theme="dark"] {

  --bs-bg1: #0d0d0d;
  --bs-bg2:#1c1b1b;
  --bs-bg3:#272626;
  --bs-bg4:#242323;
  --bs-bg5: #333333;
  --bs-tx: #f5f5f5;
  --bs-tx1: #f5f5f5;
  --bs-tx2: #f7f7f7;
  --bs-tx3: #74777a;

  --bs-accent: #0dcaf0;
  --bs-accent-tx: #171717;
  --bs-accent-tx1: #000;

  --bs-box-shadow: 0px 3px 14px 0px rgb(47, 45, 45);
  --bs-box-shadow2: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --bs-box-shadow3: 0 4px 6px 0 rgba(105, 105, 105, 0.12);

  --bs-box-bg: #343a40;

  --bs-glass1: rgba(255, 255, 255, 0.06);
  --bs-bd1: rgba(255, 255, 255, 0.158);

  --bs-btn1: #ffd814;
  --bs-btn2: #ffa41c;

  --bs-success: #198754;

  --bs-op1 : 0.7;
}


*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: var(--bs-bg1);
}


@keyframes dynamicBorder {
  0% {
    border-color: red;
  }
  25% {
    border-color: orange;
  }
  50% {
    border-color: yellow;
  }
  75% {
    border-color: green;
  }
  100% {
    border-color: blue;
  }
}

.debug {
  margin: 20px;
  border: 3px solid red;
  animation: dynamicBorder 2s infinite;
  padding: 2px;
}
.debug :hover {
  box-shadow: 2px 2px 5px black;
}
