.main_container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 background-color: var(--bs-box-bg);
 box-shadow: var(--bs-box-shadow);
 margin: 20px 0;
 row-gap: 24px;
 border-radius: 10px;
}

.main_container h2 {
      margin-top: 24px;
      margin-left: 40px;
      padding: 0 16px;
      font-size: 1.5rem;
      font-weight: 800;
      border-bottom: 2px solid var(--bs-bd1);
      width: fit-content;
}

.main_container form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 50px;
}

.main_container .form_row {
      margin: 10px 0;
      position: relative;
}

.error {
      position: absolute;
      bottom: -4px;
      font-size: 0.8rem;
      color: var(--bs-red);
      border-left: 2px solid var(--bs-red);
      padding-left: 4px;
}

.main_container .form_row .form_input_box {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
}

.main_container .form_otp_row {
      display: flex;
      flex-direction: row!important;
      gap: 30px;
}

.main_container .form_otp_row .get_otp_box {
      margin: auto 0;
      font-size: 0.8rem;
}

.main_container .form_otp_row .form_input_box input {
      width: 200px!important;
}

.main_container .form_row .form_input_box label {
      margin-bottom: 5px;
      font-size: 1.2rem;
      color: var(--bs-tx);
}

.main_container .form_row .form_input_box input {
      border: none;
      background: none;
      width: 300px;
      border-bottom:solid var(--bs-tx1) 1px;
      color: var(--bs-tx2);
      padding: 5px 0;
}

.main_container .form_row .form_input_box input:focus,
.main_container .form_row .form_input_box input:valid {
      outline: none;
      background: none;
}
.main_container .form_row .form_input_box label {
      width: min-content;
      text-wrap: nowrap;
}
.main_container .form_row .form_input_box .pass_box {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      margin-bottom: 40px;
}
.pass_box span {
      padding: 8px;
      cursor: pointer;
      width: 40px;
      height: 40px;
}
.main_container .form_row .form_input_box .pass_box .pass_show {
      transform: translateX(-25px);
}
.main_container .form_row .form_input_box .pass_box .pass_hide {
      transform: translateX(-25px);
}
.main_container .form_submit_box {
      width: calc(100% - 50px);
      display: flex;
      justify-content: center;
      align-items: center;
}

.main_container .form_submit_box .form_submit_button {
      border-radius: 8px;
      border: 2px solid var(--bs-accent);
      color: var(--bs-accent);
      font-weight: 600;
      font-size: 1.2rem;
      width: 70%;
      height: 48px;
      transition: all 0.3s ease;
}

.form_submit_button:hover {
      background-color: var(--bs-accent);
      color: var(--bs-accent-tx1) !important;
}

.login_method_box {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 20px;
}

.login_method_box .login_mth_btn {
      font-size: 0.8rem;
      color: var(--bs-blue);
      border-bottom: 2px solid var(--bs-bd1);
      transition: border 0.2s ease-in-out;
}

.login_method_box .login_mth_btn:hover {
      border-bottom: 2px solid var(--bs-blue);
}
/* 
.get_otp_box {
     
      
}

.get_otp_btn {

} */
