.main_container {
      padding: 80px 40px 80px 40px;
      height: 100%;
      background-image: var(--bs-hero-bg-img2);
}

.products_show_header {
      margin: 24px 4px 4px 4px;
      padding-left: 16px;
      margin-left: 24px;
      box-sizing: border-box;
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--bs-tx1);
      border-left: 4px solid var(--bs-accent);
      width: fit-content;
      display: inline-block;
}

.main_container .main_wrap {
      padding: 72px 56px 72px 56px;
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: space-evenly;
}

.main_container .card_wrap {

}


.main_container .no_card_wrap {
      padding: 72px 56px 72px 56px;
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: space-evenly;
}


.main_container .demo_card {
      width: 480px;
      height: 640px;
      background-color: var(--bs-card2-bg);
      border-radius: 15px;
}

.stores_box {
      display: flex;
      flex-direction: column;
      padding: 40px 40px 80px 40px;
}