.main_wrap {
      position: relative;
      width: 144px;
}
.show_btn {
      display: flex;
      align-items: center;
      gap: 8px;
}

.btn_open {
      gap: 8px;
      color: var(--bs-accent);
}

.category_wrap {
      position: absolute;
      z-index: 5;
      background-color: var(--bs-bg2);
      padding: 8px 4px 8px 8px;
      border-radius: 0 0 8px 8px;
      width: max-content;
}
.category {
      cursor: pointer;
}
.category:hover {
      background-color: var(--bs-bg1);
}