.main_page {
      height: 100vh;
      width: 100vw;
      line-height: 1.5rem;
}
.header {
      width: 100%;
      margin-left: 10%;
      margin-top: 80px;
      padding-left: 16px;
      margin-bottom: 24px;
      font-size: 1.2rem;
      font-weight: 800;
      border-left: 4px solid var(--bs-accent);
      color: var(--bs-tx1);
}
.header span {
      cursor: pointer;
      color: inherit;
      transition: color .3s ease;
}
.header span:hover {
      color: var(--bs-accent);
}
.summary_wrap {
      min-height: 100%;
      padding-bottom: 40px;
      background-color: var(--bs-bg3);
}

.orderPerStore_wrap {
      margin: 0 auto;
      max-width: 70%;
      padding: 24px 40px 24px 40px;
}
.confirmed_order {
      border: var(--bs-success) 2px solid;
}

.confirmed_order .order_status {
      color: var(--bs-success);
}
.per_store {
     
}

.store_name {
      background-color: var(--bs-bg1);
      width: fit-content;
      height: 40px;
      padding: 4px 80px 4px 8px;
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--bs-success);
      border-radius: 8px 8px 0 0;
}

.cart_items_wrap {
      min-height: 240px;
      background-color: var(--bs-bg1);
      display: flex;
      flex-direction: column;
      gap: 24px;      
}
.cartItem_wrap {
      min-height: auto;
      display: flex;
      padding: 16px 24px 24px 24px;
      justify-content: space-between;
      border-bottom: var(--bs-bd1) solid 2px;
}
.cartItem_wrap .img_box {
      width: 200px;
      height: 200px;
      margin: auto 0;
}

.img_wrap {
      width: 100%;
      height: 100%;
      position: relative;
}

.cartItem_wrap .img_box .img_wrap .img_frame {
      width: 190px;
      height: 190px;
      border: var(--bs-bg2) solid 1px;
      border-radius: 10px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
}

.cartItem_wrap .img_box .img_wrap .demo_img_frame {
      background-color: var(--bs-bg2);
      width: 190px;
      height: 190px;
      border-radius: 10px;
      cursor: pointer;
}

.quantity_info {
      position: absolute;
      top: -8px;
      right: -8px;
      background-color: var(--bs-blue);
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: var(--bs-bg1);
}

.cartItem_wrap .info_box {
      width: 100%;
      margin: 16px 0 0 24px;
      display: flex;
      flex-direction: column;
}

.info_name {
      font-size: 1.2rem;
      color: var(--bs-tx1);
}

.info_stock {
      color: var(--bs-success);
}

.info_store {
      background-color: var(--bs-bg2);
      width: fit-content;
      padding: 2px 8px 2px 8px;
      border-radius: 15px;
      color: var(--bs-blue);
      cursor: pointer;
      margin: 8px 0 8px 0;
}

.item_control {
      height: 100%;
      display: grid;
      padding: 24px 0 0 0;
}

.cartItem_wrap .price_box {
      width: 20%;
      padding-right: 24px;
      text-align: end;
}

.price_offer {
      color: var(--bs-success);
      font-size: 1.1rem;
}
.price_final {
      font-size: 1.4rem;
      color: var(--bs-tx2);
}

.price_mrp {
      color: var(--bs-tx1);
      font-style: italic;
      text-decoration: line-through;
}

.footer_box {
      display: flex;
      flex-direction: column;
      background-color: var(--bs-bg1);
      align-items: end;
      padding: 48px;
      color: var(--bs-tx3);
}

.order_info_wrap {
      margin: 40px 0 0 0;
      background-color: var(--bs-bg1);
      padding: 24px;
      color: var(--bs-tx3);
      position: relative;
}

.grand_total {
      font-size: 1.3rem;
      font-weight: 600;
      border: 4px solid var(--bs-success);
      padding: 4px 8px 4px 8px;
      width: fit-content;
      margin-bottom: 24px;
      color: var(--bs-tx1);
}

.change_address_wrap span {
      font-weight: 600;
      border-left: 4px solid var(--bs-bd1);
      padding: 2px 2px 4px 4px;
      color: var(--bs-tx3);
}
.order_btn {
      border: 2px solid var(--bs-bd1);
      border-radius: 8px;
      width: 50%;
      height: 60px;
      margin: 0 auto;
      margin-top: 24px;
      box-shadow: var(--bs-box-shadow);
      display: flex;
      justify-content: center;
      align-items: center;
}
.online_pay_btn {
      background-color: var(--bs-success);
      border-color: var(--bs-bd1);
      color: var(--bs-bg1);
}

.cod_pay_btn {
      background-color: var(--bs-btn2);
}
.order_btn button {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.orders_list {
      width: 100%;
      height: fit-content;
      margin-top: 40px;
      padding-bottom: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.order_wrap {
      width: 80%;
      display: flex;
      flex-direction: column-reverse;
      gap: 40px;
}

.per_stores_wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: var(--bs-bg2);
      padding: 24px 40px 24px 40px;
      display: flex;
      flex-direction: column;
      position: relative;
}

.order_info {
 
}

.order_info p {
      font-size: 1rem;
      color: var(--bs-tx1);
}

.order_info span {
      font-size: 1rem;
      font-weight: 600;
      color: var(--bs-tx2);
}
.see_details_wrap {
      cursor: pointer;
      display: flex;
      gap: 16px;
      align-items: center;
      color: var(--bs-blue);
}
.per_store_wrap {
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid var(--bs-bd1);
  border-radius: 0.5rem;
  background-color: var(--bs-bg5);
}

.per_store {
  color: var(--bs-tx1);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.store_info {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--bs-tx2);
}

.products_info {
  padding-left: 1rem;
  margin-top: 0.5rem;
  border-left: 3px solid var(--bs-bd1);
}

.order_item {
  margin-bottom: 1rem;
}

.item_product__info {
  font-size: 0.95rem;
  font-weight: bold;
  color: var(--bs-tx1);
}

.order_item_info {
  font-size: 0.9rem;
  color: var(--bs-tx1);
  margin-top: 0.2rem;
}
.payment_wrap {
      position: absolute;
      top: 80px;
      right: 40px;
}
.payment_wrap button {
      border: 2px solid var(--bs-bd1);
      font-size: 1.2rem;
      padding: 4px;
      border-radius: 8px;
      background-color: var(--bs-success);
      color: var(--bs-bg1);
      box-shadow: var(--bs-box-shadow);
}


.cancel_pen_order {
      color: var(--bs-red);
      font-size: 0.8rem;
}

.payment_wrap {
      padding-right: 80px;
      display: flex;
      flex-direction: column;
      align-items: start;
}

.payment_wrap span {
      border-left: 4px solid var(--bs-bd1);
      padding: 4px;
}

.payment_types {

}

.pay_type {
      cursor: pointer;
}

.pay_type span {
      border: 0px;
}

.pay_type_active {
      color: var(--bs-success);
      font-size: 1.2rem;
      font-weight: 600;
}

.pay_type_inactive {
      color: var(--bs-tx3);
}

.no_order {
      width: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      padding-top: 10%;
}