
header {
      padding: 18.5px;
      background-color: var(--bs-nav-bg);
      display: flex;
      justify-content: center;
      align-items: center;
}

.header_wrap {
      display: flex;
      width: 1536px;
      justify-content: space-between;
      margin:0 40px 0 40px;
      gap: 40px;
      height: 3rem;
      padding-top: .375rem;
      padding-bottom: .375rem;
}

.header_wrap .htd_logo_nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
}

.header_wrap .htd_logo_nav  .hdt_logo {
      display: flex;
      flex: 0 0 auto;
      justify-content: center;
      color: var(--bs-tx);
      list-style: none;
      padding: 0 20px 5px 0;
      cursor: pointer;
}

.header_wrap .htd_logo_nav  .hdt_logo a {
  font-family: var(--bs-h-ff);
  font-weight: 500;
  font-size: 2rem;
  font-style: normal;
}

.header_wrap .htd_logo_nav  .hdt_nav {
      display: flex;
      align-items: center;
      opacity: 1;
      transition: opacity 0.8s ease-in-out;
}

.header_wrap .htd_logo_nav  .hdt_nav_search_focused {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.8s ease-in-out;
}


/* .header_wrap .hdt_nav .menu_wrap {
      
} */

.header_wrap .htd_logo_nav  .hdt_nav .menu_wrap .hdt_menu {
      display: flex;
      color: var(--bs-tx1);
      justify-content: space-between;
      align-items: center;
      list-style: none;
}

.header_wrap .htd_logo_nav  .hdt_nav .menu_wrap .hdt_menu a {
      font-family: var(--bs-h-ff);
      padding: 10px 20px;
      font-size: 1rem;
      transition: color 0.3s ease-in-out;
      overflow: hidden;
      text-wrap: nowrap;
      cursor: pointer;
}

.header_wrap .hdt_option {
      padding-right: 5%;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.header_wrap .hdt_option .htd_search_bar {
      width: 300px;
      display: grid;
      place-items: center;
      margin-right: 0px;
      transition: width 0.5s ease-in-out, margin-right 0.5s ease;
}

/* .header_wrap .hdt_option .htd_search_bar_focused {
      width: 700px;
      margin-right: 16px;
} */

.header_wrap .hdt_option .hdt_buttons {
      display: flex;
      color: var(--bs-tx1);
}

.header_wrap .hdt_option .hdt_buttons .hdt_theme_btn {
      margin-left: 24px;
}

.header_wrap .hdt_option .hdt_buttons a {
      font-family: var(--bs-h-ff);
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0 20px;
      cursor: pointer;
}

.hdt_buttons a svg {
      color: inherit;
      transition: color 0.3s ease;
}


.header_wrap .hdt_nav .menu_wrap .hdt_menu .nav_link_pending {
  color: var(--bs-gray);
}

.header_wrap .hdt_nav .menu_wrap .hdt_menu .nav_link_action {
      color: var(--bs-lnk-tx-hv);
      border-bottom: 2px solid var(--bs-accent);
}

/* .header_wrap .hdt_nav .menu_wrap .hdt_menu .nav_link_default {
} */
