.mini_card {
      width: 320px;
      height: auto;
      cursor: pointer;
}


.mini_card .img_wrap {
      height: 320px;
      width: 100%;
      background-color: var(--bs-card1-bg);
      display: flex;
      justify-content: center;
      border-radius: 16px;
      transition: opacity 0.3s ease;
      opacity: 1;
}
.mini_card:hover > .img_wrap {
      opacity: 0.8;
}

.mini_card .img_wrap img {
      width: 80%;
      height: 80%;
      object-fit: contain;
      /* mix-blend-mode: multiply; cant apply for dark mode */
}

.mini_card .no_img_box {
      background-image: url('/public/demo/heroProducts/shopingBag.png');
      width: 80%;
      height: 80%;
      object-fit: contain;
      background-position: center;
      background-size: contain;
}


.mini_card .info_box {
      margin: 40px 20px 0 20px;
      white-space: nowrap;
}

.mini_card .info_box .name_line {
      white-space: inherit;
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: var(--sub-h-ff);
      font-size: 1.15rem;
      font-weight: 600;
}

.mini_card .info_box .prices_line {
      margin: 24px 0 0 0;
}

.mini_card .info_box .prices_line p {
      font-weight: 700;
      font-family: var(--bs-h-ff);
      border: 2px solid var(--bs-money-green);
      width: fit-content;
      color: var(--bs-money-green);
      min-width: 80px;
      padding: 2px 2px 2px 4px;
      border-radius: 8px;
}