.search_box {
      padding: 8px;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: var(--bs-glass1);
      border-radius: 50px;
      border: 2px var(--bs-bd1) solid;
      box-sizing: border-box;
      transition: border 0.3s ease-in-out;
}

.search_box input {
      border: none;
      outline: none;
      width: 100%;
      padding-left: 0.5rem;
      background-color: transparent;
      color: var(--bs-tx1);
      font-size: 1rem;
      cursor: text;
}

.clear_btn {
      cursor: pointer;
      padding-right: 4px;
      color: var(--bs-tx1);
}

.search_icon {
      cursor: pointer;
      color: var(--bs-tx1);
      transition: color 0.5s ease-in-out;
}

.search_box:hover > .search_icon {
      color: var(--bs-accent);
}

.search_box_focus,
.search_box:hover {
      border: 2px solid var(--bs-ring-color);
}