.main_container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: var(--bs-box-bg1);
 border-radius: 10px;
 margin: 64px 80px 64px 80px;
}

.header {
      width: 100%;
      font-size: 1.3rem;
      font-weight: 600;
      padding-left: 10%;
      margin-bottom: 8px;
}

.header h1 {
      text-decoration: underline;
      text-underline-offset: 4px;
      color:  var(--bs-tx1);
}

.form_wrap {
      background-color: var(--bs-bg2);
      padding: 24px 104px 24px 16px;
      border-radius: 8px;
}

.form_box {
}

.input_box {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
}
.input_box label {
      font-size: 1.1rem;
      color: var(--bs-tx2);
}
.input_box input {
      outline: none;
      background: transparent;
      border-bottom: 2px solid var(--bs-tx1);
      padding-left: 4px;
      color: var(--bs-tx1);
}

.input_box span {
      color: var(--bs-tx1);
}
.pass_box {
  margin-bottom: 16px;
}
.pass_box input {
      
}
.pass_box span {
      
}
.action_box {
      margin-bottom: 16px;
}
.action_box button {
      background-color: var(--bs-btn1);
      padding: 4px;
      border-radius: 4px;
      color: var(--bs-tx3);
}
.other_action {
      margin-top: 16px;
      border-bottom: 2px solid var(--bs-bd1);
      width: fit-content;
      color: var(--bs-blue);
}
.cancel_btn {

}
.cancel_btn button {
      color: var(--bs-red);
      border-bottom: 2px solid var(--bs-bd1);
}