.main_container {
 display: flex;
 padding: 24px 80px 24px 80px;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 24px;
 margin: 80px 0 80px 0;
}

.header {
      width: 100%;
      margin-left: 10%;
      padding-left: 16px;
      margin-bottom: 24px;
      font-size: 1.2rem;
      font-weight: 800;
      border-left: 4px solid var(--bs-accent);
      color: var(--bs-tx1);
}
.header span {
      cursor: pointer;
      color: inherit;
      transition: color .3s ease;
}
.header span:hover {
      color: var(--bs-accent);
}

.section {
      padding: 16px;
      background-color: var(--bs-card1-bg);
      border-radius: 8px;
      width: 320px;
      min-height: 104px;
      height: max-content;
      display: flex;
      justify-content: space-between;
      border: var(--bs-bd1) 2px solid;
}

.form_row {
      display: flex;
      flex-direction: column;
      gap: 24px;
}

.error {
      position: absolute;
      top: 64px;
      font-size: 0.8rem;
      color: var(--bs-red);
      border-left: 2px solid var(--bs-red);
      padding-left: 4px;
}


.form_row label {
      font-size: 1.3rem;
      color: var(--bs-tx3);
}

.form_input_box {
 border-bottom: 2px solid var(--bs-bd1);
 padding-left: 8px;
 color: var(--bs-tx2);
 font-size: 1.2rem;
 transition: all 0.3s ease;
 position: relative;
 margin-bottom: 56px;
}

.form_input_box input {
      width: 90%;
      outline: none;
      background: none;
      border: none;
}

.form_input_box:focus-within {
      border-bottom: 2px solid var(--bs-accent);
}

.button_wrap {
      position: relative;
}

.button_wrap button {
      display: flex;
      align-items: center;
      gap: 4px;
      justify-content: center;
      flex-wrap: nowrap;
      color: var(--bs-tx1);
}

.otp_box {
      margin: 24px 0 0 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: start;
}

.otp_box input {
      outline: none;
      background: transparent;
      border: 1px solid var(--bs-bd1);
      border-radius: 8px;   
      padding: 2px 0 2px 4px;
      width: 50%;
      color: var(--bs-tx1);
}

.otp_box span {
      color: var(--bs-success)
}

.otp_box button {
      color: var(--bs-blue);
      font-size: small;
      border-bottom: 1px solid var(--bs-blue);
}
.password_input_box {
      width: 100%;
}
.password_input_box span {
      color: var(--bs-tx1);
}
.input_wrap {
      display: flex;
}
.password_input_form form {
      display: flex;
      flex-direction: column;
      gap: 24px;
}

.pass_show,
.pass_hide {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
}

.form_input_box span {
      font-size: 1rem;
      
}

.forget_pass_wrap {
      width: 100%;
      display: flex;
      justify-content: start;
      margin: 16px 0 8px 0;
      padding-left: 8px;
}

.forget_pass_wrap span {
      font-size: small;
      text-decoration: underline;
      text-underline-offset: 4px;
      color: var(--bs-blue);
      cursor: pointer;
}