.main_container {
 display: flex;
 padding: 24px 80px 24px 80px;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 24px;
 margin: 80px 0 80px 0;
}

.header {
      width: 100%;
      margin-left: 10%;
      padding-left: 16px;
      margin-bottom: 24px;
      font-size: 1.2rem;
      font-weight: 800;
      border-left: 4px solid var(--bs-accent);
      color: var(--bs-tx1);
}
.header span {
      cursor: pointer;
      color: inherit;
      transition: color .3s ease;
}
.header span:hover {
      color: var(--bs-accent);
}
.box_wrap {
      min-width: 480px;
      max-width: 80%;
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
}

.box_wrap .add_address_box {
      border: 4px dotted var(--bs-tx3);
      min-width: 400px;
      height: 320px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
      font-size: larger;
      cursor: pointer;
      color: var(--bs-tx1);
      transition: background-color 0.3s ease;
}

.plus_icon {
      color: rgba(128, 128, 128, 0.685);
      scale: 5;
      margin-bottom: 20px;
}

.box_wrap .address_box {
      border: 1px solid var(--bs-bd1);
      border-radius: 8px;
      min-width: 400px;
      height: 320px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 24px 24px 24px 24px;
      overflow-y: scroll;
      transition: background-color 0.3s ease;
}
.box_wrap .address_box:hover,
.box_wrap .add_address_box:hover {
      background-color: var(--bs-glass1);
}
.box_wrap .address_box .info_box {
      color: var(--bs-tx1);
      font-size: 1.2rem;
      line-height: 1.8rem;
      overflow-wrap: break-word;
      word-wrap: break-word;
      white-space: normal;
}

.box_wrap .address_box .info_box span {
      color: var(--bs-tx3);
      font-size: 1rem;
}

.box_wrap .address_box .action_box {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      color: var(--bs-blue2);
}
.box_wrap .address_box .action_box span {
      color: var(--bs-tx1);
}

.box_wrap .address_box .action_box button {
      border-bottom: 0px solid var(--bs-blue2);
      transition: all 0.3s ease;
}
.box_wrap .address_box .action_box button:hover {
      border-bottom: 1px solid var(--bs-blue2);
}

.address_form_wrap {
      background-color: var(--bs-bg4);
      margin-top: 8px;
      position: relative;
      padding: 8px;
      padding-bottom: 16px;
      border-radius: 8px;
      min-height: 400px;
      min-width: 480px;
}

.form_hide {
      display: flex;
      justify-content: end;
      right: 12px;
      position: absolute;
}

.form_hide button {
      color: var(--bs-tx3);
}

.form_header {
      color: var(--bs-tx);
      font-size: 1.5rem;
      font-weight: 600;
      padding: 8px 0 0 8px;
}

.address_form_wrap form {
      margin-top: 8px;
      margin-left: 16px;
}

.form_row {
      width: 80%;
      margin: 16px 0;
      position: relative;
}

.error {
      position: absolute;
      bottom: -18px;
      font-size: 0.8rem;
      color: var(--bs-red);
      border-left: 2px solid var(--bs-red);
      padding-left: 4px;
}

.form_input_box {
      display: flex;
      flex-direction: column;
      margin-bottom: 28px;
}


.form_input_box label {
      margin-bottom: 5px;
      font-size: 1rem;
      color: var(--bs-tx3);
}

.form_input_box input {
      border: none;
      background: none;
      width: 300px;
      border-bottom:solid var(--bs-tx1) 1px;
      color: var(--bs-tx2);
      padding: 5px 0;
}

.form_input_box input:valid,
.form_input_box input:focus {
      outline: none;
      background: none;
}

.submit_box {
      width: 100%;
}
.address_form_wrap form button {
      background-color: var(--bs-btn1);
      color: var(--bs-tx3);
      border-radius: 8px;
      padding: 4px 8px 4px 8px;
      width: auto;
      transition: all 0.3s ease;
}

.input_default {
      transform: translateY(18px);
}