.main_card {
 width: 480px;
 height: 720px;
 background-color: var(--bs-card1-bg);
 cursor: pointer;
}

.main_card .card_wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;
}

.main_card .card_wrap .img_box{
      width: 100%;
      height: 100%;
}

.main_card .card_wrap .img_box .img_frame {
      width: 100%;
      height: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 5px;
}

.main_card .card_wrap .img_box .demo_img_frame {
      width: 100%;
      height: inherit;
      background-color: var(--bs-bg1);
      border-radius: 5px;
}

.main_card .card_wrap .info_box {
      height: fit-content;
      max-height: 240px;
      display: flex;
      flex-direction: column;
      gap: 24px;
}

.main_card .card_wrap .info_box .name_line {
      font-size: 1.4rem;
      line-height: 1.5;
      font-weight: 600;
      color: var(--bs-tx1);
      white-space: normal;
      word-break: keep-all;
      overflow-wrap: break-word;
      height: calc(2 * 1.5em);

}

.description_line {
      width: 90%;
      line-height: 1.5;
      height: calc(1.5em * 2);
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--bs-tx3);
}

.prices_info_wrap {
      display: flex;
      gap: 24px;
      align-items: center;
}
.prices_info_wrap .final_price {
      font-size: 1.5rem;
      font-weight: 600;
      font-style: oblique;
      color: var(--bs-tx2);
}

.prices_info_wrap .offer_info {
      display: flex;
      gap: 8px;
}

.prices_info_wrap .offer_info .mrp_line {
      color: var(--bs-tx1);
      text-decoration: line-through;

}

.prices_info_wrap .offer_info .offer_line {
      color: var(--bs-success);
      font-weight: 600;
      font-size: 1.2rem;
}